.btn
  padding 12px 25px

  &:active
    box-shadow inset 0 2px 0 rgba(0,0,0,0.15)

  &-info
    background-color $m-brand-blue-light
    color #fff
    &:hover, &:focus
      background-color #1e8bbd

  &-success
    background-color $brand-success
    border-radius $border-radius
    color #fff
    &:hover, &:focus
      background-color #8bad24

  &-default
    background-color rgba(5, 127, 203, 0.1)
    color $text-color
    &:hover, &:focus
      background-color rgba(5, 127, 203, 0.15)