.uppercase
  text-transform uppercase

.full-width
  width 100%


.full-height
  height 100%


.v-a-top
  vertical-align top


.hidden
  display: none !important
  visibility: hidden

.clearfix
  zoom: 1

.clearfix:before, .clearfix:after
  content: ""
  display: table

.clearfix:after
  clear: both