mixin header
    div.header
        div.container.clearfix
            a(href="javascript:void(0);").btn.btn-success Create new
            //label
            //    input(type="text" value="Project Name3564356" placeholder="Project Name")

            img(src='img/sm.png' alt='logo')