include header

doctype html
html
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width")
        link(rel="stylesheet" href="css/main.css")
        block head
    body
        +header
        block body
        script(type="text/javascript" src="/js/common.js")