extends ../layout
block body
    div.main-wr.container
        div.search-bar
            label
                input(type='text' placeholder='Find Project by Name')
            a(href='javascript:void(0);').btn.btn-info &#128270;

        table.table
            thead
                tr
                    th Project Name
                    th Colour Palette Preview

            tbody
                - var projects = [{projectName: 'Some test name'}, {projectName: 'Some gnfgngfnsng'}, {projectName: 'New & Awesome'}, {projectName: 'Test test888'}, {projectName: 'Some gnfgngfnsng'}, {projectName: '585544'}]
                    each project, index in projects
                        tr
                            td: a(href='javascript:void(0);')= project.projectName
                            td
                                span.brand-primary &bull;
                                span.brand-success &bull;
                                span.brand-info &bull;
                                span.brand-warning &bull;
                                span.brand-danger &bull;