class = 'header'

{class}{
  display block
}
.header
  background-color $m-brand-gray
  color #fff
  padding 11px 0 5px 0
  border-top 4px solid $m-brand-blue
  margin-bottom 20px
  position fixed
  top 0
  left 0
  right 0

  .btn-success
    float right
    margin-top 7px

  label
    display inline-block
    float right
    margin-top 8px
    width 40%

  input[type='text']
    color #333
    font-size 18px
    border 1px solid #fff
    border-radius $border-radius
    background-color $body-color
    padding 0 9px
    height 40px